.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.DateInput {
  width: auto;
  background-color: transparent;
}

.DateInput input{
  width: 190px;
  background-color: transparent;
}

.wheels-wrapper {
  margin-top: 25px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.wheel-wrapper {
  width: 50%;
  float: left;
}

.wheel-wrapper .wheel {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

button {
  border: none;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  padding: 12px;
  color: white;
}

@media screen and (max-width: 700px) {
  .wheel-wrapper {
    text-align: center;
    width: 100%;
    float: none;
    margin-bottom: 25px;
  }

  .DateInput input{
    width: 150px;
    background-color: transparent;
  }
}